<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ynosphere</title>
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://fonts.cdnfonts.com/css/glacial-indifference-2" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Ynosphere</h1>
            <img src="/image/ypetit.png" alt="Logo" class ="petitY">
           
        <ul>
            <li>
                <a href="" class="active">Accueil</a>
            </li>
            <li>
                <a href="#">A propos</a>
            </li>
            <li>
                <a href="#">Contact</a>
                <p></p>
            </li>
        </ul>
    </header>
    <section id="section1">
        <a href="/template/blog1.html">
            <img src="https://images.radio-canada.ca/q_auto,w_1200/v1/ici-info/16x9/baleine-navire-generique-pollution-sonore.png" alt="Baleine et navire">
            <h2>Des technologies développées en Atlantique pour réduire la pollution sonore des océans</h2>
        </a>
    </section>
    
    <a href="/template/blog2.html" >
        <section class="block" >
            <div>
                <img src="/image/Proba-3_satellites_pillars blog2.jpg">
                <h2>Proba-3, un duo de satellites s’envole pour éclipser le Soleil</h2>
                <p>on donne un contexte au titre</p>
                <h3>si on appuie sur l'icon ça fait aussi un lien</h3>
            </div>
        </section>
    </a>
    <a href="/template/blog3.html">
        <section class="block" >
            <div>
                <img src="/image/Exemple.png">
                <h2>Titre de l'article</h2>
                <p>on donne un contexte au titre</p>
                <h3>si on appuie sur l'icon ça fait aussi un lien</h3>
            </div>
        </section>
    </a>
    <a href="/template/blog4.html">
        <section class="block" >
            <div>
                <img src="/image/Exemple.png">
                <h2>Titre de l'article</h2>
                <p>on donne un contexte au titre</p>
                <h3>si on appuie sur l'icon ça fait aussi un lien</h3>
            </div>
        </section>
    </a>
    <a href="/template/blog5.html">
        <section class="block" >
            <div>
                <img src="https://cdn.discordapp.com/attachments/1313811315310989342/1313811520681021451/image.png?ex=677fa253&is=677e50d3&hm=ac54abc82286428285388cccac6dc4d6959b3ccd8a5054943268040334c6209a&" alt="Illustration impact énergétique"">
                <h2>Les défis d’une IA frugale : entre innovation technologique et responsabilité sociétale</h2>
                <p>on donne un contexte au titre</p>
            </div>
        </section>
    </a>
    <a href="https://example.com/">
        <section class="block" >
            <div>
                <img src="/image/Exemple.png">
                <h2>Titre de l'article</h2>
                <p>on donne un contexte au titre</p>
                <h3>si on appuie sur l'icon ça fait aussi un lien</h3>
            </div>
        </section>
    </a>
    <a href="https://example.com/">
        <section class="block" >
            <div>
                <img src="/image/Exemple.png">
                <h2>Titre de l'article</h2>
                <p>on donne un contexte au titre</p>
                <h3>si on appuie sur l'icon ça fait aussi un lien</h3>
            </div>
        </section>
    </a>
    <section>

    </section>
    <footer>
        <ul>
            <li>
                <a href="#">Instagram</a>
            </li>
            <li>
                <a href="#">Facebook</a>
            </li>
            <li>
                <a href="#">X (Twiter)</a>
            </li>
        </ul>

    </footer>
</body>

</html>